.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vh;
    height: 95vh;
    border: solid black 0.3vh;
    gap: 3%;
    background-color: cornflowerblue;
}

.display {
    display: flex;
    width: 90%;
    height: 30%;
    border: solid black 0.3vh;
    margin-top: 5%;
    align-items: end;
    font-size: 8vh;
    background-color: aliceblue;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 60%;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    height: 95%;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 95%;
}

.numbers .button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    width: 30%;
    height: 20%;
    border: solid black 0.2vh;
    background-color: bisque;
}

.actions .button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vh;
    width: 43%;
    height: 30%;
    border: solid black 0.2vh;
    background-color: cadetblue;
}